.sidebar{
    min-width: 300px;
    width: 30%;
    border-right: 1px solid lightgray;
    height:  100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fafafa;
}
.sidebar-header{
    height: 50px;
    padding: 5px 0 5px 10px;
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.sidebar-header-img{
    width: 42px;
}
.sidebar-header-img > img{
    width: 100px;
    cursor: pointer;
    border-radius: 50%;
}

.sidebar-header-btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
    color: #51585c;
}
.sidebar-header-btn > .MuuiSvgIcon-root{
    font-size: 23px
}

.sidebar-search{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;

}
.sidebar-search-input{
    width: 90%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 30px;
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.sidebar-search-input > .MuuiSvgIcon-root{
    font-size: 18px;
    color: #acacac;
    margin-left: 10px;
}
.sidebar-search-input > input {
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 6px;
    margin-bottom: 2px;
    width: 80%;
    
}
.sidebar-chat-list{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll !important;
    scrollbar-width: thin;
    scrollbar-color: #f3f0dd #154734;
}

/* div {
    width: 30vw;
    height: 49.75vw;
    min-height: 1em;
    overflow-y: visible;
    overflow-x: hidden;
    direction: ltr;
    scrollbar-width: thin;
    scrollbar-color: #f3f0dd #154734;
} */

/* div::-webkit-scrollbar {
  width: 11px;
}

div::-webkit-scrollbar-track {
  background: #154734;
}

div::-webkit-scrollbar-thumb {
  background-color: #f3f0dd;
  border-radius: 6px;
  border: 3px solid #154734;
} */